{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}

{% block content %}
<div class="container">
  <h4 style="font-size:30px;font-family:-apple-system,BlinkMacSystemFont,‘Segoe UI’,‘Roboto’,‘Oxygen’,‘Ubuntu’,‘Fira Sans’,‘Droid Sans’,‘Helvetica Neue’,sans-serif;font-weight:600;line-height:60px;margin:20px 0">{{config.get('TAG')}}</h4>
  <h2 style="font-size:50px;font-family:-apple-system,BlinkMacSystemFont,‘Segoe UI’,‘Roboto’,‘Oxygen’,‘Ubuntu’,‘Fira Sans’,‘Droid Sans’,‘Helvetica Neue’,sans-serif;font-weight:900;line-height:60px;margin:20px 0">{{config.get('INTRO')}}</h2>
  <h3 style="font-size:40px;font-family:-apple-system,BlinkMacSystemFont,‘Segoe UI’,‘Roboto’,‘Oxygen’,‘Ubuntu’,‘Fira Sans’,‘Droid Sans’,‘Helvetica Neue’,sans-serif;font-weight:600;line-height:60px;margin:0">{{config.get('HEADLINE1')}}</h3>
  <h3 style="font-size:40px;font-family:-apple-system,BlinkMacSystemFont,‘Segoe UI’,‘Roboto’,‘Oxygen’,‘Ubuntu’,‘Fira Sans’,‘Droid Sans’,‘Helvetica Neue’,sans-serif;font-weight:600;line-height:60px;margin:0">{{config.get('HEADLINE2')}}</h3>
  <h3 style="font-size:40px;font-family:-apple-system,BlinkMacSystemFont,‘Segoe UI’,‘Roboto’,‘Oxygen’,‘Ubuntu’,‘Fira Sans’,‘Droid Sans’,‘Helvetica Neue’,sans-serif;font-weight:600;line-height:60px;margin:0">{{config.get('BYE')}}</h3>
</div>
{% endblock %}
